@import './core/_variables';

* {
  margin: 0;
}

.App {
  &__container {
    background-image: url('../images/bg-pickle-2.png');
    background-repeat: repeat;
    font-family: $mainFont;
  }
}

.header {
  &__container {
    background-image: url('../images/bg-portal-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    border-bottom: 0.2rem solid $lightGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 1.5rem 0;
  }
  &__logo {
    height: 7rem;
  }
}

.list {
  &__container {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-bottom: 2rem;
  }
  &__item {
    margin: 0.5rem;
  }
}

.card {
  &__link {
    text-decoration: none;
  }
  &__container {
    padding: 1rem 0.5rem;
    height: 16rem;
    width: 10rem;
    background-color: rgba(40, 148, 18, 0.4);
    border: 0.35rem solid $lightGreen;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      border: 0.35rem solid $pickleGreen;
    }
  }
  &__img {
    width: 100%;
  }
  &__info {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: $darkGreen;
  }
}

.filter {
  &__container {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    color: $darkGreen;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
  &__input {
    font-family: $mainFont;
    padding: 0.5rem 1rem;
    width: 11rem;
    height: 1.2rem;
    border-radius: 1rem;
    border: none;
  }
}

.modal {
  &__container {
    border: 3px solid $purple;
  }
}

.footer {
  &__container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  &__title {
    text-transform: capitalize;
    padding-bottom: 0.5rem;
  }
  &__credits {
    color: $darkGreen;
    text-transform: capitalize;
  }
}
