@import './core/_variables';

.modal {
  &__background {
    background-color: rgba(0, 73, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    font-family: $mainFont;
    background-image: url(../images/bg-portal.jpg);
    background-size: cover;
    color: $darkGreen;
    border-radius: 0.2rem;
  }
  &__header {
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    text-transform: capitalize;
    font-size: 1.8rem;
  }
  &__link {
    text-decoration: none;
    font-weight: bold;
    color: $purple;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
  }
  &__info {
    width: 35rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  &__img {
    border-radius: 50%;
    height: 15rem;
  }
  &__list {
    width: 9rem;
  }
  &__list-item {
    margin-top: 0.5rem;
    list-style: none;
    text-transform: capitalize;
  }
}
