@import './core/_variables';

.list {
  &__container {
    list-style: none;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }
  &__item {
    margin: 0.5rem;
  }
}

// responsive

@media all and (min-width: 420px) {
  .list {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    &__logo {
      height: 6rem;
    }
  }
  .list {
    &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    &__logo {
      height: 8rem;
    }
  }
  .list {
    &__container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
