@import './core/_variables';

.filter {
  &__container {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    color: $darkGreen;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }
  &__input {
    font-family: $mainFont;
    padding: 0.5rem 1rem;
    width: 11rem;
    height: 1.2rem;
    border-radius: 1rem;
    border: none;
  }
}
