@import './core/_variables';

.warning {
  &__container {
    overflow: hidden;
    background-color: rgba(40, 148, 18, 0.4);
    border: 0.35rem solid $yellow;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__img {
    height: 15rem;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }
  &__text {
    color: $darkGreen;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
